@font-face {
    font-family: 'Khand-Regular';
    src: url('./font/Khand-Regular.ttf');
}
@font-face {
    font-family: 'KAITI';
    src: url(./font/KAITI.ttf);
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url(./font/PingFang-SC-Regular.ttf);
}

@media only screen and (min-width: 1080px) {
    html {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 1440px) {
    html {
        font-size: 25px !important;
    }
}




html,body {
    width: 100%;
    height: 100%;
    font-size: 15px;
    overflow: hidden;
}
textarea {
    resize: none;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.to_right {
    width: 0;
    height: -5;
    border-left: 30px solid grey;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.content {
    /*
    display: flex;
    flex-direction: column;*/
    overflow: auto;
    height: 100%;
}
.title {
    font-size: 1rem;
    text-anchor: middle;
}
.container {
    padding-top:5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    overflow: auto;
    height: 100%;
    padding-bottom:5%;
}
#events{
    position: absolute;
    text-align: center;
}
#stickynotes{
    position: absolute;
    text-align: center;
}

#selector{
    text-anchor: middle;
    font-size: 0.4rem;
    opacity: 80%;
}

button{
    cursor: pointer;
}
input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
}
/* -webkit-slider-thumb仅对谷歌浏览器有效 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: #666;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .stepper-wrapper {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
    position: fixed
    top: 0px;
    left: 0px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: lightseagreen;
  }

  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid lightseagreen;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }

  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }