@font-face {
    font-family: 'Khand-Regular';
    src: url('./font/Khand-Regular.ttf');
}
@font-face {
    font-family: 'KAITI';
    src: url(./font/KAITI.ttf);
}
@font-face {
    font-family: 'PingFangSC-Regular';
    src: url(./font/PingFang-SC-Regular.ttf);
}

@media only screen and (min-width: 1080px) {
    html {
        font-size: 15px !important;
    }
}
@media only screen and (min-width: 1440px) {
    html {
        font-size: 25px !important;
    }
}




html,body {
    background-color: lavenderblush;
    width: 100%;
    height: 100%;
    /*font-size: 15px;*/
    overflow: hidden;
}
textarea {
    resize: none;
    position: absolute;
    text-align: center;
    cursor: pointer;
}
.to_right {
    width: 0;
    height: -5;
    border-left: 30px solid grey;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
.content {
    /*
    display: flex;
    flex-direction: column;*/
    height: 100%;
    overflow: auto;
}
.title {
    font-size: 1rem;
    text-anchor: middle;
}
.container {
    padding-top:5%;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
    height: 100%;
    overflow: auto;
    padding-bottom:5%;
}
#events{
    position: absolute;
    text-align: center;
}
#timelineSection{
    position: sticky;
    width: 80%;
    visibility: hidden;
}
#stickynotes{
    position: absolute;
    text-align: center;
}
#mydiv {
  display: none;
}
#pair{
    /**/
}
/* #tooltip{
    position: absolute;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgb(200,200,200);
    border-radius:5px;
    font-size:0.8rem;
    width: 15rem;;
    padding:4px;
    color:black;
    z-index: 3;
    visibility: hidden;
    opacity: 0.8;
} */
#selector{
    /*position: absolute;*/
    text-anchor: middle;
    font-size: 0.4rem;
    opacity: 80%;
    visibility: visible;
}
button{
    cursor: pointer;
}
#footer {
  position: relative;
  margin-top: -50px;
  /* negative value of footer height */
  height: 50px;
  clear: both;
  background-color: lavenderblush;
}

input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    height: 8px;
    border-radius: 4px;
}
/* -webkit-slider-thumb仅对谷歌浏览器有效 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #aaa;
    width: 8px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: #666;
}

#helpbutton {
    display: flex;
    justify-content: right;
    align-items: right;
    position: relative;
    right: 133px;
    top:20px;
  
  }
  
  .tooltip {
    position: relative;
    background: green;
    padding: 5px 12px;
    margin: 5px;
    font-size: 15px;
    border-radius: 100%;
    color: #FFF;
  }

  .tooltip:after {
    position: absolute;
    content: '';
    opacity: 0;
    transition: all 0.4s ease;
  }
  
  .tooltip:before {
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: green transparent transparent transparent;
    top: -15px;
     transform: translateY(20px);
  }
  
  .tooltip:after {
    content: attr(data-tooltip);
    background: green;
    width: 160px;
    /*height: 40px;*/
    font-size: 9px;
    font-weight: 300;
    top: -75px;
    left: -10px;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
    transform: translateY(20px);
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
    opacity: 1;
    transform: translateY(-2px);
  }
  
  @keyframes shake {
    0% { 
      transform: rotate(2deg);
    }
    50% {
     transform: rotate(-3deg);
    }
    70% {
      transform: rotate(3deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  #anim:hover {
    animation: shake 500ms ease-in-out forwards;
  }
  .dot {
    height: 25px;
    width: 25px;
    background-color: lightblue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  .stepper-wrapper {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    overflow: hidden;
    position:fixed
    top: 0px;
    left: 0px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }

  .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: -50%;
    z-index: 2;
  }

  .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 2;
  }

  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    margin-bottom: 6px;
  }

  .stepper-item.active {
    font-weight: bold;
  }

  .stepper-item.completed .step-counter {
    background-color: lightseagreen;
  }

  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid lightseagreen;
    width: 100%;
    top: 20px;
    left: 50%;
    z-index: 3;
  }

  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }